@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #dde5b6;
}

.profile-card {
    background: #fefae0;
    width: 400px;
    height: 85vh;
    margin: auto;
    margin-top: 10vh;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);

    border-radius: 14px;
}

.profile-card img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.profile-card h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-top: 5px;
    letter-spacing: 1px;
}

.profile-card h3 {
    font-family: "Lato", serif;
    font-weight: 300;
    font-style: normal;
    color: grey;
}

.profile-card h3:hover{
    cursor: pointer;
}

.icons {
    /* background: red; */
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.icons img {
    width: 40px;
    height: 40px;
    cursor: pointer;
}